.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 2;
    background: var(--color-blue);
}

.header-picture {
    width: auto;
    margin-left: 20px;
}

.header-link-home {
    background: #3598f5;
    transition: .3s;
    padding: 10px 15px;
    border-radius: 10px;
    font-family: system-ui;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.header-link-home:hover {
    background: #4ba2f3;
}