/* contenedor de los distritos */
.container-district {
    padding: 20px;
}

/* contenedor de las cartas */
.district {
    padding-bottom: 20px;
    transition: .3s;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 10px;
}

.district:hover {
    background: rgb(247, 247, 247);
}

/* estilos del titulo de las cartas */
.title-district {
    font-family: system-ui;
    font-size: 22px;
    margin-bottom: 5px;
    color: rgb(47, 57, 70);
}

.paf-district {
    color: rgb(47, 57, 70);
    font-family: system-ui;
    font-size: 18px;
}

.hr-district {
    height: 1px;
    border: none;
    margin: 10px 0;
    background: rgb(47, 57, 70);
    color: rgb(47, 57, 70);
}
