/* estilos de la seccion */
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
}

/* estilos del banner de inicio */
.banner {
    width: 90%;
    margin-top: 20px;
    background-size: cover;
    overflow: hidden;
    transition: .3s;
    height: auto;
}

/* estilos de los banners */
@media (min-width: 1500px) {
    .banner {
        width: 1500px;
        height: 55vh;
        max-width: 1500px;
        margin-top: 20px;
    }
}

/* estilos de la imagen que esta dentro del banner */
.banner img {
    width: 100%;
    height: 100%;
}

/* titulo de la seccion */
.section-title {
    text-align: center;
    margin-top: 20px !important;
    font-family: System-ui;
    text-transform: uppercase;
    font-size: 1.5rem !important;
    margin: 0 10px;
    color: var(--color-blue-dark);
}

/* estilos del contenedor de texto */
.container-note {
    display: flex;
    width: 90%;
    height: auto;
    box-shadow: 0 4px 8px rgba(139, 139, 139, 0.5);
    padding: 10px;
    transition: .3s;
    margin: 0 10px;
    border-radius: 15px;
    margin-top: 30px;
}

@media (min-width: 620px) {
    .container-note {
        width: 600px;
    }
}

.container-note:hover {
    box-shadow: 2px 4px 10px rgba(139, 139, 139, 0.5);
}

/* estilo del slider de las imagenes */
.slider-images {
    width: 90%;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    margin-top: 60px;
}

@media (min-width: 1500px) {
    .slider-images {
        width: 1500px;
    }
}

/* estilo del contenedor de las imagenes */
.container-imgs {
    display: flex;
    flex-direction: row;
    gap: 20px;
    animation: slider-country 6s infinite linear;
    overflow: hidden;
    justify-content: start;
    align-items: center;
    width: calc(350px * 10 + 20px) ;
}

@keyframes slider-country {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(calc(-350px * 5 + 20px));
    }
}

/* estilo de la etiqueta figure */
.st-figure {
    width: auto;
    height: 200px;
    overflow: hidden;
}

/* estilo de las imagenes */
.st-figure img {
    width: 100%;
    height: 100%;
    transition: .3s;
}

/* estilos cuando el mouse pase por el elemento */
.container-imgs:hover {
    animation-play-state: paused;
}

.st-figure img:hover {
    transform: scale(1.1);
}

/*  */

/* estilo de la segundo seccion */
.section-two {
    width: 100%;
    flex-wrap: wrap;
    min-height: 600px;
    margin-top: 40px;
    display: flex;
    overflow: hidden;
    padding: 20px 0;
    gap: 60px;
    flex-wrap: wrap;
    align-items: start;
    margin-bottom: 60px;
    justify-content: space-evenly;
    position: relative;
}

@media (min-width: 1200px) {
    .section-two {
        justify-content: center;
        gap: 30px;
    }
}

@media (min-width: 1500px) {
    .section-two {
        justify-content: center;
        gap: 80px;
    }
}

/* estilos de las seccion a escoger */
.megaEnvios.active{
    display: flex;
    width: 90%;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    transition: .3s;
    gap: 20px;
    justify-content: center;
    box-shadow: 0 0 20px rgb(238, 238, 238);
    padding: 30px;
    border-radius: 15px;
    animation: animate-intro .2s 1 linear;
}

.details-megaShipping {
    display: none;
    width: 90%;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    transition: .3s;
    gap: 20px;
    justify-content: center;
    box-shadow: 0 0 20px rgb(238, 238, 238);
    padding: 30px;
    border-radius: 15px;
}

.details-megaShipping h3 {
    text-align: center;
    font-weight: 700;
}

.details-megaShipping h3 b {
    font-weight: 800;
}

.details-megaShipping h3 span{
    color: var(--color-yellow);
}

.details-megaShipping.active {
    animation: animate-intro .2s 1 linear;
    display: flex;
}

@keyframes animate-intro {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.megaEnvios.display-none{
    display: none;
}

@media (min-width: 500px) {
    .megaEnvios.active, .details-megaShipping{
        width: 80%;
    }
}

@media (min-width: 900px) {
    .megaEnvios.active, .details-megaShipping {
        width: 800px;
    }
}

@media (min-width: 1200px) {
    .megaEnvios.active, .details-megaShipping {
        width: 600px;
        padding: 40px 60px;
    }
}

.megaEnvios.active:hover, .details-megaShipping:hover {
    background: rgb(250, 250, 250);

;
}

/* texto del parrafo de detalles de mega envios */
.paf-details-megaShipping {
    font-size: 15px;
    font-family: system-ui;
    line-height: 24px;
}

@media (min-width: 400px) {
    .paf-details-megaShipping {
        font-size: 16px;
        font-family: system-ui;
        line-height: 24px;
    }
}

.paf-details-megaShipping i {
    color: rgb(146, 146, 146);
}

/* estilos de la animacion de gif */
.animation-gif {
    height: 160px;
}

/* estilos del titulo */
.section-two h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--color-blue-dark);
    font-family: system-ui;
}

@media (min-width: 400px) {
    .section-two h3 {
        font-size: 22px;
    }
}

@media (min-width: 600px) {
    .section-two h3 {
        font-size: 24px;
    }
}

.section-two h3 span {
    font-weight: 800;
    color: var(--color-yellow);
}

.sectionTwo-figure {
    margin-top: 20px;
    width: 250px;
}

@media (min-width: 400px) {
    .sectionTwo-figure {
        margin-top: 20px;
        width: 300px;
    }
}

.sectionTwo-img {
    width: 100%;
}


/* estilos de los dos botones */
/* boton 1 */
.clickReturn {
    width: 200px;
    text-align: center;
    font-family: system-ui;
    font-size: 18px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    margin-top: 30px;
    line-height: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    color: var(--color-white);
    z-index: 1;
    background: rgb(41, 187, 255);
}

.clickReturn span {
    z-index: 1;
}

.clickReturn::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 40px;
    background: rgb(25, 165, 221);
    top: 0;
    transition: .3s;
    left: -200px;
    z-index: -1;
}

.clickReturn:hover::after {
    background: rgb(39, 164, 247);
    top: 0;
    left: 0;
}

/* boton 2 */
.sectionTwo-a {
    width: 200px;
    text-align: center;
    font-family: system-ui;
    font-size: 18px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    margin-top: 30px;
    line-height: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    color: var(--color-white);
    z-index: 1;
    background: rgb(41, 187, 255);
}

.sectionTwo-a span {
    z-index: 1;
}

.sectionTwo-a::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 40px;
    background: rgb(25, 165, 221);
    top: 0;
    transition: .3s;
    left: -200px;
    z-index: -1;
}

.sectionTwo-a:hover::after {
    background: rgb(39, 164, 247);
    top: 0;
    left: 0;
}

.section-info {
    width: 100%;
    display: flex;
    margin: 20px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-section-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    gap: 20px;
    width: 90%;
    border-radius: 15px;
    box-shadow: 2px 4px 10px rgb(212, 212, 212) ;
}


@media (min-width: 920px){
    .container-section-info {
        width: 880px;
    }
}

.title-info {
    font-family: system-ui;
    font-size: 22px;
    margin-top: 20px;
    font-weight: 500;
    color: var(--color-blue-dark);
}

.title-info b {
    text-transform: uppercase;
}

.title-info span {
    font-weight: 700;
    color: var(--color-yellow);
    text-transform: uppercase;
}

.paf-info {
    font-family: system-ui;
    font-weight: 400;
    line-height: 24px;
    padding: 0 20px 20px 20px;
}


.container-images-info {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

@media (min-width: 600px) {
    .container-images-info {
        padding: 0 30px;
    }
}

.container-images-info figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    width: 90%;
}

@media (min-width: 600px) {
    .container-images-info figure{
        width: 400px;
    }
}

@media (min-width: 950px) {
    .container-images-info  figure{
        width: 430px;
    }
}

.container-images-info img {
    transition: .3s;
    width: 100%;
}

.container-images-info img:hover {
    transform: scale(1.1);
}

/* estilos para la lista */
.section-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    box-shadow: 0 0 20px rgb(238, 238, 238);
    overflow: hidden;
    transition: .3s;
    gap: 30px;
    padding: 30px 0;
    border-radius: 15px;
}

.section-list:hover {
    background: rgb(250, 250, 250);
}

.section-list h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
}

.section-list li {
    list-style: "✅  ";
    font-family: system-ui;
    font-size: 16px;
}

@media (min-width: 400px) {
    .section-list {
        font-size: 18px;
    }
}

@media (min-width: 500px) {
    .section-list{
        width: 80%;
    }
}

@media (min-width: 900px) {
    .section-list {
        width: 800px;
    }
}

@media (min-width: 1200px) {
    .section-list {
        width: 400px;
    }
}
