/* estilos de la seccion */
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
}

/* estilos del banner de inicio */
.banner {
    width: 90%;
    margin-top: 20px;
    background-size: cover;
    overflow: hidden;
    transition: .3s;
    height: auto;
}

/* estilos de los banners */
@media (min-width: 1500px) {
    .banner {
        width: 1500px;
        height: 55vh;
        max-width: 1500px;
        margin-top: 20px;
    }
}

/* estilos de la imagen que esta dentro del banner */
.banner img {
    width: 100%;
    height: 100%;
}

/* titulo de la seccion */
.section-title {
    text-align: center;
    margin-top: 20px !important;
    font-family: System-ui;
    text-transform: uppercase;
    font-size: 1.5rem !important;
    margin: 0 10px;
    color: var(--color-blue-dark);
}

/* estilos del contenedor de texto */
.container-note {
    display: flex;
    width: 90%;
    height: auto;
    box-shadow: 0 4px 8px rgba(139, 139, 139, 0.5);
    padding: 10px;
    transition: .3s;
    margin: 0 10px;
    border-radius: 15px;
    margin-top: 30px;
}

@media (min-width: 620px) {
    .container-note {
        width: 600px;
    }
}

.container-note:hover {
    box-shadow: 2px 4px 10px rgba(139, 139, 139, 0.5);
}

/* estilos de la letra */
.section-p {
    font-family: system-ui;
    padding: 0 15px 15px 15px;
}

/* estilo del span */
.section-p span{
    color: rgb(43, 167, 43);
    font-weight: 600;
    line-height: 30px;
}

/* estilo del slider de las imagenes */
.slider-images {
    width: 70%;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    margin-top: 60px;
}

/* estilo del contenedor de las imagenes */
.container-imgs {
    display: flex;
    flex-direction: row;
    gap: 22px;
    animation: slider-country 7s infinite linear;
    overflow: hidden;
    justify-content: start;
    align-items: center;
    width: calc(350px * 8) ;
}

@keyframes slider-country {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(calc(-350px * 4));
    }
}

/* estilo de la etiqueta figure */
.st-figure {
    width: auto;
    height: 200px;
    overflow: hidden;
}

/* estilo de las imagenes */
.st-figure img {
    width: 100%;
    height: 100%;
    transition: .3s;
}

/* estilos cuando el mouse pase por el elemento */
.container-imgs:hover {
    animation-play-state: paused;
}

.st-figure img:hover {
    transform: scale(1.1);
}

/*  */

/* estilo de la segundo seccion */
.section-two {
    width: 100%;
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 60px;
    justify-content: space-evenly;
}


/* estilos de las seccion a escoger */
.megaEnvios, .megaEnviosExpress{
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    transition: .3s;
    overflow: hidden;
    gap: 20px;
    justify-content: center;
    padding: 40px 30px;
    border-radius: 15px;
}

@media (min-width: 500px) {
    .megaEnvios, .megaEnviosExpress{
        width: 80%;
    }
}

@media (min-width: 900px) {
    .megaEnvios, .megaEnviosExpress{
        width: auto;
    }
}

@media (min-width: 1200px) {
    .megaEnvios, .megaEnviosExpress{
        padding: 40px 60px;
    }
}

.megaEnvios:hover, .megaEnviosExpress:hover{
    background: rgb(248, 248, 248);
}

/* estilos del titulo */
.section-two h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--color-blue-dark);
    font-family: system-ui;
}

@media (min-width: 400px) {
    .section-two h3 {
        font-size: 22px;
    }
}

@media (min-width: 600px) {
    .section-two h3 {
        font-size: 24px;
    }
}

.section-two h3 span {
    font-weight: 800;
    color: var(--color-yellow);
}

.sectionTwo-figure {
    margin-top: 20px;
    width: 250px;
}

@media (min-width: 400px) {
    .sectionTwo-figure {
        margin-top: 20px;
        width: 300px;
    }
}

.sectionTwo-img {
    width: 100%;
}

.sectionTwo-a {
    width: 200px;
    text-align: center;
    font-family: system-ui;
    font-size: 18px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    margin-top: 30px;
    line-height: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    color: var(--color-white);
    z-index: 1;
    background: rgb(41, 187, 255);
}

.sectionTwo-a span {
    z-index: 1;
}

.sectionTwo-a::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 40px;
    background: rgb(25, 165, 221);
    top: 0;
    transition: .3s;
    left: -200px;
    z-index: -1;
}

.sectionTwo-a:hover::after {
    background: rgb(39, 164, 247);
    top: 0;
    left: 0;
}

.section-info {
    width: 100%;
    display: flex;
    margin: 20px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-section-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    gap: 20px;
    width: 90%;
    border-radius: 15px;
    box-shadow: 2px 4px 10px rgb(212, 212, 212) ;
}


@media (min-width: 920px){
    .container-section-info {
        width: 880px;
    }
}

.title-info {
    font-family: system-ui;
    font-size: 22px;
    margin-top: 20px;
    font-weight: 500;
    color: var(--color-blue-dark);
}

.title-info b {
    text-transform: uppercase;
}

.title-info span {
    font-weight: 700;
    color: var(--color-yellow);
    text-transform: uppercase;
}

.paf-info {
    font-family: system-ui;
    font-weight: 400;
    line-height: 24px;
    padding: 0 20px 20px 20px;
}


.container-images-info {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

@media (min-width: 600px) {
    .container-images-info {
        padding: 0 30px;
    }
}

.container-images-info figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    width: 90%;
}

@media (min-width: 600px) {
    .container-images-info figure{
        width: 400px;
    }
}

@media (min-width: 950px) {
    .container-images-info  figure{
        width: 430px;
    }
}

.container-images-info img {
    transition: .3s;
    width: 100%;
}

.container-images-info img:hover {
    transform: scale(1.1);
}

